<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>

</head>
<body>
    <h1>This is the home Page.</h1>
    <h3><%="Shekhar Kumar"%></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, sunt quas ullam natus repellat doloremque magni unde ipsam quidem excepturi rerum voluptatibus voluptate reiciendis perferendis obcaecati cum ut mollitia?</p>
    <button>Click Me!</button>
</body>
</html>