<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Username</title>
  </head>
  <body>
    <h2>You are about to edit this username <%=user.username%></h2>
    <form method="POST" action="/user/<%=user.id%>?_method=PATCH">
        <textarea name="username"  cols="30" rows="10"> <%= user.username%> </textarea>
      <input type="password" name=" password" placeholder="Enter password" />
      <button>Edit</button>
    </form>
  </body>
</html>
